<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>

    <!-- CSS 引用 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/demo.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/component.css') }}" />

    <!--[if IE]>
        <script src="{{ url_for('static', filename='js/html5.js') }}"></script>
    <![endif]-->
</head>
<body>
    <div class="container demo-1">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
                <div class="logo_box">
                    <h3>欢迎你</h3>
                    <form action="user/login" method="post">
                        {{form.csrf_token()}}
<!--                        <input name="csrf_token"  value="{{form.csrf_token()}}" />-->
                        <div class="input_outer">
                            <span class="u_user"></span>
                            {{ form.name(size=16, class='text')}}
<!--                            <input name="logname" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账户">-->
                        </div>
                        <div class="input_outer">
                            <span class="us_uer"></span>
                            {{ form.password(size=16, class='text')}}
                            <!--<input name="logpass" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;" value="" type="password" placeholder="请输入密码">-->
                        </div>
                        <div class="mb2"><a class="act-but submit" style="color: #FFFFFF">登录</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /container -->

    <!-- JS 引用 -->
    <script src="{{ url_for('static', filename='js/TweenLite.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/EasePack.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rAF.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo-1.js') }}"></script>
</body>
</html>